/* CSS */

body {
    font-family: Helvetica, Sans-serif;
    padding: 3%;
    padding-left: 5%;
}

h1 {
    text-align: left;
}

/* TEXT */

.scrollable-box {
    max-height: 200px;
    max-width: 70%;
    overflow-y: auto; /* yaxis scrolling */
    border: 1px solid #ccc;
    padding: 1%;
    background-color: #f9f9f9; /* grey */
    font-family: Monaco, Monospace;
}

/* FORM */

/*
form {
    margin: 20px 0;
}
*/

label {
    font-size: 14px;
    margin-right: 10px;
    /*color: #555;*/
}

/* Style the file input (Choose file) */
input[type="file"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

input[type="file"]:hover {
    border-color: #007BFF;
}

/* Style the submit buttons (Upload) */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* END */
